<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Tyler Rilling">
	<meta name="description" content="{{site.desc}}">
	<link rel="canonical" href="{{site.site}}{{ page.url | replace:'index.html','' }}" />
	<link href="/assets/css/site.min.css" rel="stylesheet">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
  <link rel="manifest" href="/assets/site.webmanifest">
  <link rel="mask-icon" href="/assets/safari-pinned-tab.svg" color="#8d8273">
  <meta name="msapplication-TileColor" content="#353537">
  <meta name="theme-color" content="#353537">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@gMachinaGame">
	<meta name="twitter:site:id" content="2566007593">
	<meta name="twitter:title" content="gMachina: A Ghost in the Machine">
	<meta name="twitter:description" content="{{site.desc}}">
	<meta name="twitter:creator" content="@gMachinaGame">
	<meta property="og:title" content="gMachina: A Ghost in the Machine" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="{{site.site}}" />
	<meta property="og:image" content="/assets/apple-touch-icon.png" />
	<meta property="og:description" content="{{site.desc}}" />
	<meta property="og:site_name" content="gMachina" />
	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	ga('create', 'UA-1247925-7', 'gmachina.org');
	ga('send', 'pageview');
	</script>
</head>
<body>
<div id="wrapper" class="mx-3 ml-md-5">
  <header class="site-header my-5">
    <a class="site-logo d-block mb-4" href="/">
      <h1 class="sr-only">gMachina</h1>
      <h6 class="sr-only">A Ghost in the Machine</h6>
      <div class="logo__inner"></div>
      <div class="logo__inner2"></div>
    </a>
    <p class="lead mb-0">gMachina (Gee-<strong>mah</strong>-kee-nə)</p>
    <p>A ghost in the machine.</p>
  </header>
  <div class="site-content">
    {{ content }}
  </div>
	<footer class="site-footer py-5">
		<small>&copy; 2018 <a href="https://alifewellplayed.com">A Life Well Played</a> &amp; <a href="https://tyler.codes">Tyler Rilling</a>.</small>
	</footer>
	</div>
	<script src="/assets/js/site.js"></script>
</body>
</html>
