#wrapper {
	max-width: 640px;
}
.site-logo,
.logo__inner,
.logo__inner2 {
  width: 100px;
  height: 75px;
  background-image: url('../img/logo.png');
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
}
.site-logo {
  position: relative;
  //overflow: hidden;
  .logo__inner,
  .logo__inner2 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: .5;
    clip: rect(60px, 9999px, 60px, 0);
  }
  .logo__inner { animation: glitch 4s infinite step-end; }
  .logo__inner2 { animation: glitch-2 4s infinite step-end; }
}
.site-content {
  margin-top: 50px;
}
.site-footer {
  text-transform: uppercase;
  letter-spacing: 2px;
}
.social-links {
    text-align: center;
    a:link {color: darken($body-color, 25%);}
    a:hover {color: darken($body-color, 15%); text-decoration: none;}
}
